@tailwind base;
@tailwind components;
@tailwind utilities;


.light{
  --shadow : rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  --card-bg-left : #f2f6ff;
  --card-bg-right : #ecfeff;
  --nav-msg-clr : rgb(14, 165, 233);
  --clr-mode : rgb(59, 130, 246);
  --clr-mode-text : rgb(0, 0, 0);
  --shadow-tools :rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  --bg-clr : #ffffff;
}

  
.dark{
  --shadow : rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  --card-bg-left : #0000007d;
  --card-bg-right : #ecfeff;
  --nav-msg-clr : rgb(56, 255, 242);
  --clr-mode : rgb(0, 255, 238);
  --clr-mode-text : #ffffff;
  --shadow-tools :rgb(0, 255, 238) 0px 5px 15px 0px;
  --bg-clr : #181823;

}

#light{
  color : rgb(37, 99, 235);
}

#dark{
  color : rgb(0, 255, 238);
}

#light:hover{
  color : rgb(86, 174, 255);
}

#dark:hover{
  color : rgb(46, 255, 23)
}

#techstack:hover{
  color: rgb(14, 165, 233);
}